@import '../utils/variables';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: url('../../static/istockphoto-1161094733-612x612.jpg') no-repeat fixed right;
    background-color: $theme-light-grey;
    background-size: 50%;
}