@import '../utils/variables';

.contact-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px; 
    gap: 30px;
    padding-left: 15px;
    width: 40%;
}

.form-container {
    border-right: 1px solid $theme-purple;
    padding-right: 15px;
    width: 60%;
    margin-left: 10px;
}