@import '../utils/variables';

.contact-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px; 
    gap: 30px;
    padding-left: 15px;
    width: 40%;

    button {
        a {
            text-decoration: none;
            color: $theme-purple;
        }
        border-color: $theme-purple;
    }
}

.form-container {
    border-right: 1px solid $theme-purple;
    padding-right: 15px;
    width: 60%;
    margin-left: 10px;
}

.container {
    @media (max-width: 780px) {
        display: flex;
        flex-direction: column;
        .form-container {
            width: 100%;
            border-right: none;
            border-bottom: 1px solid $theme-purple;
            padding-bottom: 20px;
        }

        .contact-buttons {
            justify-content: center;
            width: 100%;
            text-align: center;
        }
  }
}