@import '../utils/variables';

.index-container {
    max-width: 50%;
    padding-left: 40px;
    @media (max-width: 1300px) {
        padding-left: 0;
        max-width: 100%;
        .intro-container {
            padding-left: 40px;
        }
        @media (max-width: 1150px) {
            .contact-buttons {
                justify-content: center;
                padding: -10px;
                gap: 15px;
            }
        }

        @media (max-width: 655px) {  
            .intro-container {
                padding-left: 20px;
            }
            h3 {
                font-size: 6vw;
            }
            h2 {
                font-size: 9.5vw;
            }
            h1{
                font-size: 15vw;
            }
        }

    }
}

.contact-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 80px; 
    gap: 30px;
    padding-left: 15px;

    button {
        a {
            text-decoration: none;
            color: $theme-purple;
        }
        border-color: $theme-purple;
    }
}
