@import '../utils/variables';

.index-container {
    max-width: 50%;
    padding-left: 40px;
    @media (max-width: 1400px) {
        display: flex;
        min-width: 100%;
        .contact-buttons {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1;
            margin-top: 5px;
        }
        .intro-container {
            width: 60%;
        }
        @media (max-width: 770px) {
            .intro-container {
                width: 80%;
                h1 {
                    margin-top: 0;
                }
                h2{
                    font-size: 48px;
                }
                h3 {
                    font-size: 40px;
                    margin-top: 0;
                }
            }
        } 
        @media (max-width: 380px) {
            flex-direction: column;
            .contact-buttons {
                flex-direction: row;
                width: 100%;
                padding-left: 0;
                gap: 18px; 
                min-width: 100%;
            }
            .intro-container {
                margin-top: 20px;
                min-width: 100%;
            }
        } 
  }
}

.contact-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 80px; 
    gap: 30px;
    padding-left: 15px;

    button {
        a {
            text-decoration: none;
            color: $theme-purple;
        }
        border-color: $theme-purple;
    }
}
