@import '../utils/variables';

.index-container {
    max-width: 50%;
    padding-left: 40px;
}

.contact-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px; 
    gap: 30px;
    padding-left: 15px;

    button {
        a {
            text-decoration: none;
            color: $theme-purple;
        }
        border-color: $theme-purple;
    }
}
