@import '../utils/variables';

.resume-container {
    margin-bottom: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.actionButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.resume-button {
    a {
        text-decoration: none;
        color: $theme-purple;
    }
    border-color: $theme-purple;
}

