@import '../utils/variables';

.nav {
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.3rem;
    }

    li {
        list-style: none;
    }
}

.link {
    text-decoration: none;
    color: $theme-purple;
}

.active-link {
    font-size: 1.5rem;
    color: #593478;
}

