@import '../utils/variables';

.nav {
    box-shadow: 2px 10px 15px -3px rgba(0,0,0,0.38);
    -webkit-box-shadow: 2px 10px 15px -3px rgba(0,0,0,0.38);
    -moz-box-shadow: 2px 10px 15px -3px rgba(0,0,0,0.38);
    width: 100%;
    height: 80px;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    li {
        list-style: none;
        font-size: 1.4rem;
        min-width: 10rem;
    }
    margin-bottom: 50px;
}

.link {
    text-decoration: none;
    color: $theme-purple;
}

.active-link {
    font-size: 1.8rem;
    color: #593478;
}

